# --- CONFIGURAZIONE TARGET RISC-V PER ESP32-C3 ---

transport select jtag

# ID Hardware unico dell'ESP32-C3
set _CPUTAPID 0x00005c25

# Crea il TAP (Test Access Port)
jtag newtap esp32c3 cpu -irlen 5 -expected-id $_CPUTAPID

# Crea il target RISC-V vero e proprio
target create esp32c3.cpu riscv -chain-position esp32c3.cpu

# Configura l'area di lavoro nella RAM della Beetle
esp32c3.cpu configure -work-area-phys 0x40380000 -work-area-size 0x4000 -work-area-backup 1

# Istruzione per resettare il chip correttamente
riscv set_reset_timeout_sec 2
